* {
	margin: 0;
	padding: 0;
	list-style: none;

}
.header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	background-color: #fff;

}
.nav-list{
	display: flex;

}
.nav-list li{
	padding-left: 15px;
	text-transform: uppercase;
	color: blue;
	
}

.nav-list li:hover {
	color: aqua;
	transition: 300ms ease;
	
}
.logo{
height: 50px;
}
.container img {
	height: 500px;
	position: relative;
	z-index: 1;
	

	
}
.container{
	background-color: gray;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.container::after{
	position: absolute;
	content: " </HTML>";
	color: white;
	bottom: 100px;
	right: 100px;
	size: 100px;
	z-index: 2;
	
}

.saba {
	border-right: 1px solid black;
padding-right: 5px;}
